div.Anonymous{
    display: none;
}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text]:focus {
    background-color:red;
  }

  input[type=submit] {
    width: 60%;
    background-color: #af684c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  h2{
      text-align: center;
  }
  